# ---------------------------------------------------------------------------
# NexusAPI Environment Variables — EXAMPLE
# ---------------------------------------------------------------------------
# Copy this file to .env and fill in your actual values
# Never commit .env to Git

# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=LMS
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_HOST=database
DB_PORT=3306

# MySQL Docker
MYSQL_ROOT_PASSWORD=your-root-password

# Redis
REDIS_URL=redis://redis-server:6379/0
REDIS_URL_PAGES=redis://redis-server:6379/0

# Celery
CELERY_BROKER_URL=redis://redis-server:6379/0
CELERY_RESULT_BACKEND=redis://redis-server:6379/1

# JWT
JWT_ACCESS_TOKEN_MINUTES=60
JWT_REFRESH_TOKEN_DAYS=7

# Email
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password


CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret